features/airtel.csv filter=lfs diff=lfs merge=lfs -text
features/hul.csv filter=lfs diff=lfs merge=lfs -text
features/infy.csv filter=lfs diff=lfs merge=lfs -text
features/mandm.csv filter=lfs diff=lfs merge=lfs -text
features/reliance.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/infy.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/mandm.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/reliance.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/airtel.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/hdfc.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/hul.csv filter=lfs diff=lfs merge=lfs -text
cashflow/airtel.csv filter=lfs diff=lfs merge=lfs -text
cashflow/hdfc.csv filter=lfs diff=lfs merge=lfs -text
cashflow/hul.csv filter=lfs diff=lfs merge=lfs -text
cashflow/infy.csv filter=lfs diff=lfs merge=lfs -text
cashflow/mandm.csv filter=lfs diff=lfs merge=lfs -text
cashflow/reliance.csv filter=lfs diff=lfs merge=lfs -text
quarterly/reliance.csv filter=lfs diff=lfs merge=lfs -text
quarterly/airtel.csv filter=lfs diff=lfs merge=lfs -text
quarterly/hdfc.csv filter=lfs diff=lfs merge=lfs -text
quarterly/hul.csv filter=lfs diff=lfs merge=lfs -text
quarterly/infy.csv filter=lfs diff=lfs merge=lfs -text
quarterly/mandm.csv filter=lfs diff=lfs merge=lfs -text
raw_results/Bharti[[:space:]]Airtel.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/HDFC[[:space:]]Bank.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/Hind.[[:space:]]Unilever.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/Infosys.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/M[[:space:]]&[[:space:]]M.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/Reliance[[:space:]]Industries.xlsx filter=lfs diff=lfs merge=lfs -text
features_new/mandm.csv filter=lfs diff=lfs merge=lfs -text
features_new/reliance.csv filter=lfs diff=lfs merge=lfs -text
features_new/airtel.csv filter=lfs diff=lfs merge=lfs -text
features_new/hdfc.csv filter=lfs diff=lfs merge=lfs -text
features_new/hul.csv filter=lfs diff=lfs merge=lfs -text
features_new/infy.csv filter=lfs diff=lfs merge=lfs -text
features/hdfc.csv filter=lfs diff=lfs merge=lfs -text
macro.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/BHARTIARTL_weekly_news_with_sentiment.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/HDFCBANK_weekly_news_with_sentiment.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/HUL_weekly_news_with_sentiment.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/INFY_weekly_news_with_sentiment.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/M&M_weekly_news_with_sentiment.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/RELIANCE_weekly_news_with_sentiment.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/airtel.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/hdfc.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/hul.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/infy.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/mandm.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/reliance.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/sentiment_scores/mandm.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/sentiment_scores/reliance.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/sentiment_scores/airtel.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/sentiment_scores/hdfc.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/sentiment_scores/hul.csv filter=lfs diff=lfs merge=lfs -text
company_news_sentiment/sentiment_scores/infy.csv filter=lfs diff=lfs merge=lfs -text
Merged_Predicted_Returns.csv filter=lfs diff=lfs merge=lfs -text
results.xlsx filter=lfs diff=lfs merge=lfs -text
Report.pdf filter=lfs diff=lfs merge=lfs -text
ticker_returns/HUL_returns.csv filter=lfs diff=lfs merge=lfs -text
ticker_returns/INFY_returns.csv filter=lfs diff=lfs merge=lfs -text
ticker_returns/MANDM_returns.csv filter=lfs diff=lfs merge=lfs -text
ticker_returns/AIRTEL_returns.csv filter=lfs diff=lfs merge=lfs -text
ticker_returns/HDFC_returns.csv filter=lfs diff=lfs merge=lfs -text
ticker_returns/RELIANCE_returns.csv filter=lfs diff=lfs merge=lfs -text
