features/airtel.csv filter=lfs diff=lfs merge=lfs -text
features/hul.csv filter=lfs diff=lfs merge=lfs -text
features/infy.csv filter=lfs diff=lfs merge=lfs -text
features/mandm.csv filter=lfs diff=lfs merge=lfs -text
features/reliance.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/infy.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/mandm.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/reliance.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/airtel.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/hdfc.csv filter=lfs diff=lfs merge=lfs -text
balance_sheet/hul.csv filter=lfs diff=lfs merge=lfs -text
cashflow/airtel.csv filter=lfs diff=lfs merge=lfs -text
cashflow/hdfc.csv filter=lfs diff=lfs merge=lfs -text
cashflow/hul.csv filter=lfs diff=lfs merge=lfs -text
cashflow/infy.csv filter=lfs diff=lfs merge=lfs -text
cashflow/mandm.csv filter=lfs diff=lfs merge=lfs -text
cashflow/reliance.csv filter=lfs diff=lfs merge=lfs -text
quarterly/reliance.csv filter=lfs diff=lfs merge=lfs -text
quarterly/airtel.csv filter=lfs diff=lfs merge=lfs -text
quarterly/hdfc.csv filter=lfs diff=lfs merge=lfs -text
quarterly/hul.csv filter=lfs diff=lfs merge=lfs -text
quarterly/infy.csv filter=lfs diff=lfs merge=lfs -text
quarterly/mandm.csv filter=lfs diff=lfs merge=lfs -text
raw_results/Bharti[[:space:]]Airtel.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/HDFC[[:space:]]Bank.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/Hind.[[:space:]]Unilever.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/Infosys.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/M[[:space:]]&[[:space:]]M.xlsx filter=lfs diff=lfs merge=lfs -text
raw_results/Reliance[[:space:]]Industries.xlsx filter=lfs diff=lfs merge=lfs -text
features_new/mandm.csv filter=lfs diff=lfs merge=lfs -text
features_new/reliance.csv filter=lfs diff=lfs merge=lfs -text
features_new/airtel.csv filter=lfs diff=lfs merge=lfs -text
features_new/hdfc.csv filter=lfs diff=lfs merge=lfs -text
features_new/hul.csv filter=lfs diff=lfs merge=lfs -text
features_new/infy.csv filter=lfs diff=lfs merge=lfs -text
